@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /*Common*/
    .container-bg {
        @apply bg-blue-100 bg-opacity-20 shadow-2xl
    }


    /*Authentication components*/
    .auth-card {
        /*min-width: 300px;*/
        @apply flex flex-col w-full m-1 p-8 sm:p-12 border-gray-200 border shadow-2xl rounded bg-white
    }

    .auth-input {
        @apply border-2 p-1.5 mt-1 rounded focus:outline-primary-700
    }

    .auth-input-error {
        @apply bg-red-50 focus:outline-none focus:border-red-600
    }

    .auth-input-label {
        @apply text-sm ml-1 text-gray-800 tracking-wide font-semibold
    }

    .auth-primary-button {
        @apply text-white bg-primary-700 enabled:hover:bg-primary-900 p-2 rounded enabled:hover:scale-102 duration-200 tracking-wide disabled:opacity-50
    }

    .auth-secondary-button {
        @apply text-center text-sm text-primary-700 border-primary-700 rounded-xl p-2 hover:cursor-pointer hover:bg-primary-50 hover:scale-102 duration-200 tracking-wide
    }

    .provider-button-horizontal {
        @apply w-full flex justify-center items-center py-2 rounded-lg border border-gray-300  hover:cursor-pointer hover:scale-110 duration-200 hover:bg-primary-50 hover:border-primary-700
    }

    .provider-button-horizontal > svg {
        @apply h-4 w-full
    }

    .provider-button-horizontal:hover * {
        fill: #0c4a6e;
        color: #0c4a6e;
    }

    .provider-button-vertical {
        @apply flex flex-row space-x-2 items-center py-2 rounded-lg border border-gray-300 hover:cursor-pointer hover:scale-105 duration-200 hover:bg-primary-50 hover:border-primary-700
    }

    .provider-button-vertical:hover * {
        fill: #0c4a6e;
        color: #0c4a6e;
    }

    .validation-error-message {
        @apply text-red-800 text-xs pt-1 pl-1 h-0.5 opacity-0 transition-opacity ease-in-out duration-700
    }

}

body {
    background-image: url("/img/bg.png");
}



